html,
body {
  scrollbar-color: #2a2c2d #4b4f52;
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
  color: #000;
}

main {
  margin: 0 0 0 0.4em;
}

main a {
  color: #0E79AF;
  text-decoration: none;
}
