.header nav,
.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6,
.header p,
.header a,
.header img,
.header hr {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(100, 195, 242);
  padding: 0 0 0 0.4em;
  border-bottom: solid 2px black;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.header h1 {
  color: white;
  text-align: left;
  display: inline-block;
}

.header h2 {
  color: white;
  display: inline-block;
  font-size: large;
  padding-left: 1em;
}

.header nav *:not(:first-child) {
  padding-left: 0.5em;
}

.header nav a {
  color: white;
  text-decoration: none;
}

main {
  margin: 0 0 0 0.4em;
}

main a {
  color: #0E79AF;
  text-decoration: none;
}